In [25]:
import pandas as pd
import numpy as np
import re as re

La idea es tomar el dataframe de Proveedores, con todos los precios de los proveedores, y comparar para sacar el más barato. Con esto, dejamos un .csv nuevo que va a estar listo para usarse en el aumento de precios. 
La idea es que compare estos precios con los que se bajan en el exporte.

Siempre asegurémonos de eliminar símbolos y demás cuando pasamos precios al Excel de Proveedores, así queda todo bien, y no hay que convertir strings, etc.

Creamos el dataframe.

In [26]:
Proveedores = 'J:/My Drive/Forraje/Proveedores.xlsx'

# Crear el DataFrame utilizando esas columnas
df_Proveedores = pd.read_excel(Proveedores, sheet_name='Centro')

Ponemos las listas de columnas.

In [27]:
lista_proveedores = ['Benavídez', 'Gallo', 'Anea', 'Pilar', 'Tortuguitas', 'Del Viso',
                     'Chica Glade', 'San Martín', 'Hipocampus', 'Mundo Mascotas', 'Yaguar',
                     'King Clor', 'Diserquim', 'Moreno', 'Roberto', 'Viejo Gets', 'Viejo Cuero', 'Mis Nietos', 
                     'Profesional Vet', 'Premier', 'Dacam']

Convertimos a float los valores strings que puedan llegar a ser problemáticos. También borramos en el caso de que haya palabras.

In [28]:
# Convertir las columnas especificadas a float64
# for i in lista_proveedores:
#     df_Proveedores[i] = df_Proveedores[i].astype(float)

Calcula el mínimo entre todas las columnas, e ignora los cero. Si todas son cero, queda cero.

In [29]:
# Calcula el mínimo de las columnas especificadas, excluyendo los valores de cero
min_sin_cero = df_Proveedores[lista_proveedores].replace(0, np.nan).min(axis=1, skipna=True)

In [30]:
# Actualiza la columna 'Precios' con los mínimos calculados
df_Proveedores['Precio'] = min_sin_cero

Ahora lo que hace es llenar la columna "Proveedor" con el proveedor que tiene más barato el producto.

In [31]:
# Iteramos sobre cada fila del DataFrame
for indice, fila in df_Proveedores.iterrows():
    # Iteramos sobre cada columna de lista_proveedores
    for columna in lista_proveedores:
        # Comparamos el valor de "Precio" con el valor en la columna actual
        if fila["Precio"] == fila[columna]:
            # Si coinciden, actualizamos la columna "Proveedores" con el nombre de la columna actual
            df_Proveedores.at[indice, "Proveedor"] = columna
            # Salimos del bucle interno
            break

Creamos un nuevo dataframe con las columnas correspondientes.

In [32]:
# Crear el DataFrame utilizando esas columnas
df = pd.DataFrame()

Asignamos las columnas correspondientes al nuevo df.

In [33]:
df['Codigo'] = df_Proveedores['Codigo']
df['Descripcion'] = df_Proveedores['Descripcion']
df['Costo'] = df_Proveedores['Precio']
df['Categoria'] = df_Proveedores['Categoria']
df['Proveedor'] = df_Proveedores['Proveedor']

df.head()

,Codigo,Descripcion,Costo,Categoria,Proveedor
0,1905248.0,9 Lives Gatitos,NaN,Gato Granel,NaN
1,1002.0,9 Lives Gatitos x 8 kg.,18165.0,Gato,Benavídez
2,1905001.0,9 Lives Pescado,NaN,Gato Granel,NaN
3,28391001.0,9 Lives Pescado x 15 kg.,29417.0,Gato,Benavídez
4,7209.0,A Otra Parte Concentrado x 600 cc.,9008.0,Mascotas,Gallo

Creamos un .csv con la fecha actual.

In [34]:
# Guardar el DataFrame en un archivo CSV con la fecha actual en el nombre
nombre_archivo = f"J:/My Drive/Forraje/Calculados/Costos comparados.csv"
df.to_csv(nombre_archivo, index=False)