In [14]:
import pandas as pd
from typing import Tuple, Set

In [15]:
Database1 = 'J:/My Drive/Forraje/Proveedores.xlsx'
df1 = pd.read_excel(Database1)

df1.head(10)

,Descripcion,Codigo,Categoria,Benavídez,Gallo,Anea,Pilar,Tortuguitas,Del Viso,Chica Glade,...,Moreno,Roberto,Viejo Gets,Viejo Cuero,Mis Nietos,Profesional Vet,Premier,Dacam,Proveedor,Saphirus
0,9 Lives Gatitos,1905248.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Lives Gatitos x 8 kg.,1002.0,Gato,19620.0,19798.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17493.0,NaN
2,9 Lives Pescado,1905001.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9 Lives Pescado x 15 kg.,28391001.0,Gato,31771.0,32061.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15903.0,NaN
4,A Otra Parte Concentrado x 600 cc.,7209.0,Mascotas,NaN,9968.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"A Otra Parte x 0,25 lts.",1905237.0,Mascotas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Abrigo Fantasia N° 0,4438.0,Mascotas,NaN,NaN,1389.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Abrigo Fantasia N° 1,4439.0,Mascotas,NaN,NaN,1654.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Abrigo Fantasia N° 2,4440.0,Mascotas,NaN,NaN,1984.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abrigo Fantasia N° 3,4441.0,Mascotas,NaN,NaN,2315.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
Database2 = 'J:/My Drive/Forraje/Exportar.xls'
df2 = pd.read_excel(Database2)

df2.head(10)

,Unnamed: 0,Operación,Imagen,Descripción,Stock Actual,Código,Costo Unitário,Precio,Markup %,Modificado en,...,Ubicación,Promoción,Fecha Inicial,Fecha Final,Precio promocional,Estado,Tasa %,Combo,EAN / GTIN,Exportar para balanza
0,NaN,NaN,NaN,9 Lives Gatitos,-4.0,1905248,2314.0,3500.0,"51,2%",2024-11-21 23:53:55,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
1,NaN,NaN,NaN,9 Lives Gatitos x 8 kg.,-1.0,1002,18510.0,24500.0,"32,3%",2024-11-21 23:54:13,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
2,NaN,NaN,NaN,9 Lives Pescado,0.0,1905001,2000.0,3000.0,50%,2024-11-21 23:54:32,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
3,NaN,NaN,NaN,9 Lives Pescado x 15 kg.,0.0,28391001,29970.0,39600.0,"32,1%",2024-11-21 23:54:51,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
4,NaN,NaN,NaN,A Otra Parte Concentrado x 600 cc.,2.0,7209,9968.0,15000.0,"50,4%",2024-11-21 23:55:09,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
5,NaN,NaN,NaN,"A Otra Parte x 0,25 lts.",-77.0,1905237,625.0,1000.0,60%,2024-11-21 23:55:28,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
6,NaN,NaN,NaN,Abrigo Fantasia N° 0,16.0,4438,820.0,3300.0,"302,4%",2024-11-22 08:32:55,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
7,NaN,NaN,NaN,Abrigo Fantasia N° 1,19.0,4439,1055.0,3500.0,"231,7%",2024-11-22 08:33:02,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
8,NaN,NaN,NaN,Abrigo Fantasia N° 2,13.0,4440,1222.0,3700.0,"202,7%",2024-11-22 08:33:08,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
9,NaN,NaN,NaN,Abrigo Fantasia N° 3,NaN,4441,1518.0,3900.0,"156,9%",2024-11-21 23:55:47,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No

In [17]:
def Comparar_Columnas(df1: pd.DataFrame, Columna_df1: str, df2: pd.DataFrame, Columna_df2: str) -> Tuple[pd.DataFrame, Set[str], Set[str]]:

    """
    Compares two columns from different dataframes, finds unique values in each,
    and returns a DataFrame containing these unique values along with the data source.
    
    Parameters:
        df1 (pd.DataFrame): First DataFrame to compare.
        Columna_df1 (str): Column name in the first DataFrame.
        df2 (pd.DataFrame): Second DataFrame to compare.
        Columna_df2 (str): Column name in the second DataFrame.
    
    Returns:
        Tuple[pd.DataFrame, Set[str], Set[str]]: 
            - A DataFrame with unique values and source labels.
            - A set of unique values in the first column.
            - A set of unique values in the second column.
            
    """

    # Convert columns to sets to get unique values.
    Set_Columna_df1 = set(df1[Columna_df1])
    Set_Columna_df2 = set(df2[Columna_df2])
    
    # Find unique values in each column.
    Unique_Columna_df1 = Set_Columna_df1 - Set_Columna_df2
    Unique_Columna_df2 = Set_Columna_df2 - Set_Columna_df1
    
    # Create a DataFrame with results.
    Unique_Values = {
        'Valor': list(Unique_Columna_df1) + list(Unique_Columna_df2),
        'DataFrame': ['Proveedores'] * len(Unique_Columna_df1) + ['Sistema/Marcas'] * len(Unique_Columna_df2)
    }
    
    df_Result = pd.DataFrame(Unique_Values)
    
    # Sort values alphabetically and group by "DataFrame".
    df_Result = df_Result.sort_values(by='Valor').reset_index(drop=True)
    df_Result = df_Result.groupby('DataFrame').apply(lambda x: x.sort_values(by='Valor')).reset_index(drop=True)
    
    # Set Pandas to display all rows.
    pd.set_option('display.max_rows', None)
    
    return df_Result, Unique_Columna_df1, Unique_Columna_df2

In [18]:
df_Diferencias, df1_Unicos, df2_Unicos = Comparar_Columnas(df1, 'Descripcion', df2, 'Descripción')

C:\Users\tomas\AppData\Local\Temp\ipykernel_20220\2229689456.py:39: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_Result = df_Result.groupby('DataFrame').apply(lambda x: x.sort_values(by='Valor')).reset_index(drop=True)

In [19]:
df_Diferencias

Empty DataFrame
Columns: [Valor, DataFrame]
Index: []