In [1]:
import pandas as pd

In [7]:
Database1 = 'J:/My Drive/Forraje/Proveedores.xlsx'

# Crear el DataFrame utilizando esas columnas
df1 = pd.read_excel(Database1)

df1.head(10)

,Descripcion,Codigo,Categoria,Benavídez,Gallo,Anea,Pilar,Tortuguitas,Del Viso,Chica Glade,...,Diserquim,Moreno,Roberto,Viejo Gets,Viejo Cuero,Mis Nietos,Profesional Vet,Premier,Dacam,Proveedor
0,9 Lives Gatitos,1905248.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Lives Gatitos x 8 kg.,1002.0,Gato,18165.0,18334.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17493.0
2,9 Lives Pescado,1905001.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9 Lives Pescado x 15 kg.,28391001.0,Gato,29417.0,29687.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15903.0
4,A Otra Parte Concentrado x 600 cc.,7209.0,Mascotas,NaN,9008.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"A Otra Parte x 0,25 lts.",1905237.0,Mascotas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Abrigo Fantasia N° 0,4438.0,Mascotas,NaN,NaN,1389.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Abrigo Fantasia N° 1,4439.0,Mascotas,NaN,NaN,1654.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Abrigo Fantasia N° 2,4440.0,Mascotas,NaN,NaN,1984.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abrigo Fantasia N° 3,4441.0,Mascotas,NaN,NaN,2315.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
Database2 = 'J:/My Drive/Forraje/Exportar.xls'

# Crear el DataFrame utilizando esas columnas
df2 = pd.read_excel(Database2)

df2.head(10)

,Unnamed: 0,Operación,Imagen,Descripción,Stock Actual,Código,Costo Unitário,Precio,Markup %,Modificado en,...,Ubicación,Promoción,Fecha Inicial,Fecha Final,Precio promocional,Estado,Tasa %,Combo,EAN / GTIN,Exportar para balanza
0,NaN,NaN,NaN,9 Lives Gatitos,-4.0,1905248,2310.0,3430.0,"48,4%",2024-08-31 14:16:22,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
1,NaN,NaN,NaN,9 Lives Gatitos x 8 kg.,0.0,1002,18510.0,24430.0,"31,9%",2024-08-31 14:16:41,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
2,NaN,NaN,NaN,9 Lives Pescado,0.0,1905001,2000.0,2960.0,48%,2024-08-31 14:17:00,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
3,NaN,NaN,NaN,9 Lives Pescado x 15 kg.,0.0,28391001,29970.0,39560.0,"31,9%",2024-08-31 14:17:18,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
4,NaN,NaN,NaN,A Otra Parte Concentrado x 600 cc.,2.0,7209,9008.0,13520.0,"50,0%",2024-08-12 20:26:10,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
5,NaN,NaN,NaN,"A Otra Parte x 0,25 lts.",-74.0,1905237,491.0,920.0,"87,3%",2024-04-05 03:49:35,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
6,NaN,NaN,NaN,Abrigo Fantasia N° 0,16.0,4438,820.0,3280.0,300%,2024-05-15 02:02:50,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
7,NaN,NaN,NaN,Abrigo Fantasia N° 1,20.0,4439,1055.0,3480.0,"229,8%",2024-05-15 02:03:08,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
8,NaN,NaN,NaN,Abrigo Fantasia N° 2,14.0,4440,1222.0,3690.0,"201,9%",2024-05-15 02:03:27,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No
9,NaN,NaN,NaN,Abrigo Fantasia N° 3,NaN,4441,1380.0,3850.0,"178,9%",2024-05-15 02:03:46,...,NaN,No,NaN,NaN,NaN,Activo,NaN,No,NaN,No

In [10]:
def comparar_columnas(df1, col1, df2, col2):
    # Convertir las columnas a conjuntos para obtener valores únicos
    set_col1 = set(df1[col1])
    set_col2 = set(df2[col2])
    
    # Encontrar valores únicos en cada columna
    unique_in_col1 = set_col1 - set_col2
    unique_in_col2 = set_col2 - set_col1
    
    # Crear un dataframe con los resultados
    unique_values = {
        'Valor': list(unique_in_col1) + list(unique_in_col2),
        'DataFrame': ['Proveedores'] * len(unique_in_col1) + ['Sistema/Marcas'] * len(unique_in_col2)
    }
    
    result_df = pd.DataFrame(unique_values)

    # Configura Pandas para mostrar todas las filas
    pd.set_option('display.max_rows', None)
    
    return result_df

In [11]:
comparar_columnas(df1, 'Descripcion', df2, 'Descripción')

Empty DataFrame
Columns: [Valor, DataFrame]
Index: []