In [36]:
import pandas as pd
from typing import Tuple, Set

In [37]:
Database1 = 'J:/My Drive/Forraje/Proveedores.xlsx'
df1 = pd.read_excel(Database1)

df1.head(10)

,Descripcion,Codigo,Categoria,Benavídez,Gallo,Anea,Pilar,Tortuguitas,Del Viso,Chica Glade,...,Diserquim,Moreno,Roberto,Viejo Gets,Viejo Cuero,Mis Nietos,Profesional Vet,Premier,Dacam,Proveedor
0,9 Lives Gatitos,1905248.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,9 Lives Gatitos x 8 kg.,1002.0,Gato,18165.0,18334.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17493.0
2,9 Lives Pescado,1905001.0,Gato Granel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9 Lives Pescado x 15 kg.,28391001.0,Gato,29417.0,29687.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15903.0
4,A Otra Parte Concentrado x 600 cc.,7209.0,Mascotas,NaN,9008.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"A Otra Parte x 0,25 lts.",1905237.0,Mascotas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Abrigo Fantasia N° 0,4438.0,Mascotas,NaN,NaN,1389.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Abrigo Fantasia N° 1,4439.0,Mascotas,NaN,NaN,1654.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Abrigo Fantasia N° 2,4440.0,Mascotas,NaN,NaN,1984.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abrigo Fantasia N° 3,4441.0,Mascotas,NaN,NaN,2315.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
Database2 = 'J:/My Drive/Forraje/Marcas y subcategorías.xlsx'
df2 = pd.read_excel(Database2)

df2.head(10)

,Descripcion,Subcategoria,Marca,Categoría,Unidad
0,9 Lives Gatitos,Grupo Pilar,9 Lives,Gato Granel,KG
1,9 Lives Gatitos x 8 kg.,Grupo Pilar,9 Lives,Gato,UN
2,9 Lives Pescado,Grupo Pilar,9 Lives,Gato Granel,KG
3,9 Lives Pescado x 15 kg.,Grupo Pilar,9 Lives,Gato,UN
4,A Otra Parte Concentrado x 600 cc.,NaN,A Otra Parte,Mascotas,UN
5,"A Otra Parte x 0,25 lts.",NaN,A Otra Parte,Mascotas,UN
6,Abrigo Fantasia N° 0,Ropa,NaN,Mascotas,UN
7,Abrigo Fantasia N° 1,Ropa,NaN,Mascotas,UN
8,Abrigo Fantasia N° 2,Ropa,NaN,Mascotas,UN
9,Abrigo Fantasia N° 3,Ropa,NaN,Mascotas,UN

In [39]:
def Comparar_Columnas(df1: pd.DataFrame, Columna_df1: str, df2: pd.DataFrame, Columna_df2: str) -> Tuple[pd.DataFrame, Set[str], Set[str]]:

    """
    Compares two columns from different dataframes, finds unique values in each,
    and returns a DataFrame containing these unique values along with the data source.
    
    Parameters:
        df1 (pd.DataFrame): First DataFrame to compare.
        Columna_df1 (str): Column name in the first DataFrame.
        df2 (pd.DataFrame): Second DataFrame to compare.
        Columna_df2 (str): Column name in the second DataFrame.
    
    Returns:
        Tuple[pd.DataFrame, Set[str], Set[str]]: 
            - A DataFrame with unique values and source labels.
            - A set of unique values in the first column.
            - A set of unique values in the second column.
            
    """

    # Convert columns to sets to get unique values.
    Set_Columna_df1 = set(df1[Columna_df1])
    Set_Columna_df2 = set(df2[Columna_df2])
    
    # Find unique values in each column.
    Unique_Columna_df1 = Set_Columna_df1 - Set_Columna_df2
    Unique_Columna_df2 = Set_Columna_df2 - Set_Columna_df1
    
    # Create a DataFrame with results.
    Unique_Values = {
        'Valor': list(Unique_Columna_df1) + list(Unique_Columna_df2),
        'DataFrame': ['Proveedores'] * len(Unique_Columna_df1) + ['Sistema/Marcas'] * len(Unique_Columna_df2)
    }
    
    df_Result = pd.DataFrame(Unique_Values)
    
    # Sort values alphabetically and group by "DataFrame".
    df_Result = df_Result.sort_values(by='Valor').reset_index(drop=True)
    df_Result = df_Result.groupby('DataFrame').apply(lambda x: x.sort_values(by='Valor')).reset_index(drop=True)
    
    # Set Pandas to display all rows.
    pd.set_option('display.max_rows', None)
    
    return df_Result, Unique_Columna_df1, Unique_Columna_df2

In [40]:
df_Diferencias, df1_Unicos, df2_Unicos = Comparar_Columnas(df1, 'Descripcion', df2, 'Descripcion')

C:\Users\tomas\AppData\Local\Temp\ipykernel_16292\2229689456.py:39: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_Result = df_Result.groupby('DataFrame').apply(lambda x: x.sort_values(by='Valor')).reset_index(drop=True)

In [41]:
df_Diferencias

Empty DataFrame
Columns: [Valor, DataFrame]
Index: []