In [6]:
import pandas as pd

In [7]:
Database1 = 'J:/My Drive/Forraje/Marcas y subcategorías.xlsx'

# Crear el DataFrame utilizando esas columnas
df1 = pd.read_excel(Database1)

In [8]:
Database2 = 'J:/My Drive/Forraje/Exportar.xls'

# Crear el DataFrame utilizando esas columnas
df2 = pd.read_excel(Database2)

In [9]:
def comparar_columnas(df1, col1, df2, col2):
    # Convertir las columnas a conjuntos para obtener valores únicos
    set_col1 = set(df1[col1])
    set_col2 = set(df2[col2])
    
    # Encontrar valores únicos en cada columna
    unique_in_col1 = set_col1 - set_col2
    unique_in_col2 = set_col2 - set_col1
    
    # Crear un dataframe con los resultados
    unique_values = {
        'Valor': list(unique_in_col1) + list(unique_in_col2),
        'DataFrame': ['Proveedores'] * len(unique_in_col1) + ['Sistema/Marcas'] * len(unique_in_col2)
    }
    
    result_df = pd.DataFrame(unique_values)

    # Configura Pandas para mostrar todas las filas
    pd.set_option('display.max_rows', None)
    
    return result_df

In [10]:
comparar_columnas(df1, 'Descripcion', df2, 'Descripción')

Empty DataFrame
Columns: [Valor, DataFrame]
Index: []