## Código -No abrir-

In [1]:
%run "Pedidos.ipynb"

C:\Users\tomas\AppData\Local\Temp\ipykernel_13568\2317942893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Proveedor'][i] = df['Proveedor de preferencia'][i]

## Instrucciones

1. Vas a Inicio e iniciás Anaconda Navigator.
   
2. Iniciás Jupyter Notebook.
   
3. Entrás al programa 'Pedidos automáticos'.
   
4. Vas al menú de arriba, apretás Run y apretás "Run All Cells".
   
5. Abrir el archivo de Excel que se llama "Pedidos.xlsx"
   
6. Escribir todos los productos bien en la columna Descripcion, así como aparecen en el sistema.
    
7. Si no te acordás cómo se llaman, o te da pajota buscar, los podés buscar de esta forma, yendo a 'Pedidos automáticos' (o sea, acá) y escribiendo en algún cuadradito de este programa, por ejemplo, si queres buscar Pachá Mix:

    Buscar('Pach')

    Y apretas Shift + Enter. 

8. Te van a salir de resultado todos los productos que tengan 'Pach' en su nombre. Copiás y pegás en el Excel el que te interese en la columna Descripcion.
   
9. En la columna cantidad ponés la cantidad que querés comprar de cada producto.
   
10. En la columna "Proveedor de preferencia" podés agregar un proveedor al que le quieras comprar ese producto aunque no sea el más barato. Si no tenés preferencia y querés el más barato, dejala en blanco.
   
11. Guardás el archivo Excel.
    
12. Volvés acá. Si querés ver el pedido a un proveedor en particular, por ejemplo, de Bena, ponés:

    Pedido(Benavidez)

    Y apretás Shift + Enter.

13. Si querés ver los pedidos de todos los proveedores, escribís:

    Todos()


Una pelotudez. Listo el pollo, pelada la nagalli, tenés todos los pedidos listos para pasar.

14. Si querés capturar parte de la pantalla para pasarlos por Whatsapp, podés apretar Windows + Shift + S.

## Preguntas

#### Quiero ver la comparación de los precios (Proveedor más barato, 2° más barato, etc.) de sólo los productos que tengo que comprar

Escribís:

Mas_Baratos

Y presionás Shift + Enter.

## Lista de nombres de proveedores

Este nombre tenés que escribir, tal cual, si querés hacer los pedidos como dice en las instrucciones.

- Benavidez
- Gallo
- Anea
- Pilar
- Tortuguitas
- Mundo_Mascotas
- Yaguar
- Limpieza [La chica de los Glade]
- Mis_Nietos
- Hipocampus
- King_Clor
- Diserquim
- Moreno
- Roberto
- Las increíbles aventuras del niño ciego ¡súper héroe! y su hermana Renata
- Del_Viso
- Profesional_Vet

## Acá escribí

In [2]:
# Pedido(Gallo)

In [3]:
Mas_Baratos

,Descripción,Cantidad,Proveedor,Precio,Total,Proveedor 2,Precio 2,Proveedor 3,Precio 3
0,Ponedora x 30 kg.,3,Pilar,9850.0,29550,-,-,-,-
1,Engorde x 30 kg.,3,Pilar,9850.0,29550,-,-,-,-
2,Conejo Domestico x 30 kg.,3,Pilar,9950.0,29850,-,-,-,-
3,Bebe x 30 kg.,3,Pilar,9850.0,29550,-,-,-,-
4,Mezcla Gallina x 24 kg.,5,Gallo,6370.0,31850,Mundo Mascotas,6664,Pilar,6950
5,Maiz Roto Fino x 24 kg.,5,Gallo,6513.0,32565,Benavídez,7068,Pilar,8500
6,Maiz Roto Grueso x 24 kg.,5,Gallo,6513.0,32565,Benavídez,7068,Pilar,8500
7,Vagoneta Gato x 20 kg.,4,Pilar,20600.0,82400,Benavídez,22626,Mundo Mascotas,22736
8,Vagoneta x 15 kg.,2,Benavídez,10618.0,21236,Pilar,11250,Mundo Mascotas,12152
9,Maintenance Razas Pequeñas x 15 kg.,3,Anea,14438.0,43314,Mundo Mascotas,15602,Tortuguitas,15630
10,Maintenance Cachorro x 15 kg.,3,Anea,16099.0,48297,Benavídez,16249,Mundo Mascotas,16807
11,Dog Chow Razas Grandes x 21 kg.,2,Benavídez,38662.0,70346,Mundo Mascotas,38114,Gallo,38662
12,Dog Chow Razas Pequeñas x 21 kg.,2,Benavídez,37152.0,74304,Mundo Mascotas,38114,Anea,40948
13,Sabrositos Gato Mix x 10 kg.,5,Gallo,13026.0,65130,Benavídez,14603,Mundo Mascotas,14896
14,Sabrositos Variedades x 15 kg.,2,Gallo,13031.0,26062,-,-,-,-
15,Caramelos Palitos x 200 u.,2,Anea,4721.0,7874,Tortuguitas,4430,Gallo,4721
16,Zimpi x 25 kg.,7,Gallo,13123.0,91784,Gallo,13123,Mundo Mascotas,14034
17,Biopet Cachorro x 15 kg.,3,Anea,19802.0,59052,Tortuguitas,19700,Gallo,19802
18,Biopet Razas Pequeñas x 15 kg.,3,Tortuguitas,15450.0,46350,Anea,15494,Mundo Mascotas,16229
19,Sabrositos Cachorro x 18 kg.,4,Gallo,19770.0,79080,Benavídez,22073,Mundo Mascotas,22658
20,Raza Gato Pescado x 15 kg.,3,Anea,23350.0,67689,Gallo,23350,-,-
21,Raza Gatitos x 8 kg.,1,Anea,16163.0,15619,Gallo,16163,Mundo Mascotas,16307
22,Raza Gato x 10 kg.,2,Anea,15619.0,31238,Mundo Mascotas,16307,-,-
23,Estampa Gato x 15 kg.,2,Mundo Mascotas,21011.0,42022,Benavídez,21355,Pilar,21551

In [4]:
Todos()

Benavídez
Total del pedido: 165886

                         Descripción  Cantidad   Precio  Total
8                  Vagoneta x 15 kg.         2  10618.0  21236
11   Dog Chow Razas Grandes x 21 kg.         2  38662.0  70346
12  Dog Chow Razas Pequeñas x 21 kg.         2  37152.0  74304

Gallo
Total del pedido: 359036

                       Descripción  Cantidad   Precio  Total
4          Mezcla Gallina x 24 kg.         5   6370.0  31850
5          Maiz Roto Fino x 24 kg.         5   6513.0  32565
6        Maiz Roto Grueso x 24 kg.         5   6513.0  32565
13    Sabrositos Gato Mix x 10 kg.         5  13026.0  65130
14  Sabrositos Variedades x 15 kg.         2  13031.0  26062
16                  Zimpi x 25 kg.         7  13123.0  91784
19    Sabrositos Cachorro x 18 kg.         4  19770.0  79080

Anea
Total del pedido: 273083

                            Descripción  Cantidad   Precio  Total
9   Maintenance Razas Pequeñas x 15 kg.         3  14438.0  43314
10        Maintenance Cachorro x 15 kg.         3  16099.0  48297
15           Caramelos Palitos x 200 u.         2   4721.0   7874
17             Biopet Cachorro x 15 kg.         3  19802.0  59052
20           Raza Gato Pescado x 15 kg.         3  23350.0  67689
21                 Raza Gatitos x 8 kg.         1  16163.0  15619
22                   Raza Gato x 10 kg.         2  15619.0  31238

Pilar
Total del pedido: 200900

                 Descripción  Cantidad   Precio  Total
0          Ponedora x 30 kg.         3   9850.0  29550
1           Engorde x 30 kg.         3   9850.0  29550
2  Conejo Domestico x 30 kg.         3   9950.0  29850
3              Bebe x 30 kg.         3   9850.0  29550
7     Vagoneta Gato x 20 kg.         4  20600.0  82400

Tortuguitas
Total del pedido: 46350

                       Descripción  Cantidad   Precio  Total
18  Biopet Razas Pequeñas x 15 kg.         3  15450.0  46350

Mundo Mascotas
Total del pedido: 42022

              Descripción  Cantidad   Precio  Total
23  Estampa Gato x 15 kg.         2  21011.0  42022

In [5]:
# Si te quedaste sin celdas, apretá Shift + Enter y se crea una.